
<div class="pagination-container mt-4">
    <ul class="pagination justify-content-center">
        <!-- Previous Button -->
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("AllUsers", new {page = ViewBag.CurrentPage - 1, pageSize = 50 })"> صفحه قبل </a>
            </li>
        }

        <!-- Page Numbers -->
        @foreach (var pageNum in ViewBag.PagesToShow)
        {
            if (pageNum == -1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">...</a>
                </li>
            }
            else
            {
                <li class="page-item @(ViewBag.CurrentPage == pageNum ? "active" : "")">
                    <a class="page-link" href="@Url.Action("AllUsers", new { page = pageNum, pageSize = 50 })">@pageNum</a>
                </li>
            }
        }

        <!-- Next Button -->
        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("AllUsers", new {  page = ViewBag.CurrentPage + 1, pageSize = 50 })"> صفحه بعد </a>
            </li>
        }
    </ul>
</div>